@forward 'helpers';
@forward 'layout-grid';
@forward 'typography';

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: $main-font;
    margin: 0;
    font-size: 1.6rem; //16px
    line-height: 2.4rem; //24px
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

a {
    color: $blue-500;

    @include states {
        color: $blue-600;
    }
}