#screenshot {
    background-color: #F8F8F8;
    padding: 100px 0;
}

#screenshot p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 0;
}

#secondary-screenshots {
    padding: 100px 0 50px;
}